.slider h3,
.slider h5, 
.follow h3{
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.parallax-container{
	height: 20%;
}

.parallax img {
	filter: grayscale(1);
	opacity: o.5 !important;
}

.follow img {
	max-width: 150px;
	max-height: 100px;
}

section, footer {
	padding: 20px 0;
}

.product img {	
	max-width: 150px;
	max-height: 100px;
	border-radius: 50%;
}

.s12 .card-panel  {
	height: 400px;
}
.product .card-panel {
	height: 400px;
}

a h4 {
	color: mediumpurple	;
	font-size: 18px;
	font-style: italic	;
	font-weight: lighter	;
}

